<mat-card class="caixa">
<section ><!--/Início seção saiba -->
    <div >
      <div class="row">
        <div class="col-8 d-flex">
            
            <div >
                <img src="../../../assets/images/foto.png" class="img-fluid" >
                <h1 class="paragraf">Gabriel de Almeida Rebello Toledo</h1>
                <p class="paragraf"> 
                  É acadêmico do Curso de Engenharia de Produção, cursando o 10º período. Atualmente é Assistente
                  de processos na Fundação de Ensino Superior Vale do Sapucaí e desenvolvedor de aplicações Web e 
                  Mobile no setor NTH - Núcleo de Tecnologia Hospitalar.
                </p>
                
              </div>
        </div>
        
      </div>
    </div>
  </section><!--/FIM seção saiba -->
</mat-card>
  