<mat-card class="caixa">
    <section ><!--/Início seção saiba -->
        <div >
          <div class="row">
            <div class="col-8 d-flex ajuste">
                
                <div >
                    <h1 class="paragraf">Contatos:</h1>
                    <a href="https://api.whatsapp.com/send?phone=5535936188272&text=Ol%C3%A1%2C%20bem%20vindo!%20Me%20encaminhe%20uma%20mensagem!" mat-list-item class="btn btn-success botao text-white">
                        <i class="material-icons icone ">
                        whatsapp
                     </i> 
                     (35 - 93618-8272)
                     </a>
                    <a href="mailto:gabrielreb7@gmail.com" mat-list-item class="btn btn-primary botao text-white">
                        <i class="material-icons icone" >
                            email
                     </i> 
                     gabrielreb7@gmail.com
                     </a>
                    <a href="https://www.linkedin.com/in/gabriel-toledo-50a08a188" mat-list-item class="btn btn-info botao text-white">
                        <i class="material-icons icone" >
                            share
                     </i> 
                     Linkedin
                     </a>
                    
                  </div>
            </div>
            
          </div>
        </div>
      </section><!--/FIM seção saiba -->
    </mat-card>
      