<mat-card class="caixa">
    <section>
        <!--/Início seção saiba -->
        <div>
            <div class="row">
                <div class="col-12 d-flex">

                    <div>
                        <h3 class="paragraf b">• 01/09/2021 – Até o momento – Fundação de Ensino Superior do Vale do Sapucaí.</h3>
                        <p class="paragraf">
                            Cargo: Assistente de Processos
                        </p>
                        <p class="paragraf">
                            Principais atividades: Mapeamento de setores, com a elaboração de pop’s, descrevendo o processo detalhadamente. Identificação por meio destes mapeamentos, a implementação de tecnologias para otimização do processo.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/FIM seção saiba -->


</mat-card>




<mat-card class="caixa mt-3">
    <section>
        <!--/Início seção saiba -->
        <div>
            <div class="row">
                <div class="col-12 d-flex">

                    <div>
                        <h3 class="paragraf b">• 01/07/2019 – 31/08/2021 – Fundação de Ensino Superior do Vale do Sapucaí.</h3>
                        <p class="paragraf">
                            Cargo: Auxiliar Administrativo
                        </p>
                        <p class="paragraf">
                            Principais Atividades: Contas a Pagar – geração de borderôs de pagamento referente a data de pagamento de cada boleto enviado pelos fornecedores; Inclusão dos pagamentos DDA no banco na data de vencimento; Pagamento de Recisões de Contrato de Trabalho;
                            Alteração de Titulos em sistema conforme boletos (Valor/Data). Mensalidade – Geração de boletos de mensalidade; Contratos de Classes Especiais; Baixa de mensalidades ; Controle de planilhas e CI’s; Relatorio de fechamento semestral
                            de bolsas; baixas de mensalidades conforme requerimento de desconto em folha por funcionários; Caixa – Atendimento ao aluno/responsáveis para o recebimento de mensalidades, acordos, débitos do hospital; Adiantamento a colaboradores
                            para viagens em nome da FUVS; Recebimento de prestações de contas; Acerto de Recisões de Contrato de Trabalho; Entrega de Cheques de Pagamentos de Médicos Plantonistas; Cobrança – Atendimento ao aluno/responsáveis para acordos
                            de débitos ou mesmo dúvidas sobre programas de descontos e financiamentos; Ligação de cobrança de débitos em abertos; Registro em sistema de acordos homologados no forúm; Controle Bancário – Controle, movimentação das contas,conciliação
                            e pagamento de fornecedores.

                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/FIM seção saiba -->
</mat-card>

<mat-card class="caixa mt-3">
    <section>
        <!--/Início seção saiba -->
        <div>
            <div class="row">
                <div class="col-12 d-flex">

                    <div>
                        <h3 class="paragraf b">• 01/03/2019 – 29/06/2019 – Fundação de Ensino Superior do Vale do Sapucaí.</h3>
                        <p class="paragraf">
                            Cargo: Estagiário
                        </p>
                        <p class="paragraf">
                            Principais Atividades: Geração de boletos de mensalidade; Contratos de Classes Especiais; Baixa de mensalidades ; Controle de planilhas e CI’s; Relatorio de fechamento semestral de bolsas.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/FIM seção saiba -->
</mat-card>

<mat-card class="caixa mt-3">
    <section>
        <!--/Início seção saiba -->
        <div>
            <div class="row">
                <div class="col-12 d-flex">

                    <div>
                        <h3 class="paragraf b">• 04/04/2018 – 25/10/2018 – Locomotiva Industria e Comércio de Texteis Industriais LTDA.</h3>
                        <p class="paragraf">
                            Cargo: Assistente de Importação e Exportação
                        </p>
                        <p class="paragraf">
                            Principais Atividades: Exportação e Venda de Mercadorias; Compra e Importação de Mercadorias; Fechamentos de Contratos; Abertura de LC`s; Contato com Despachante e com a Transportadora; Preenchimento de planilhas de controle de Entrada e Saída de processos,
                            tão como planilhas Financeiras.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/FIM seção saiba -->
</mat-card>
<mat-card class="caixa mt-3">
    <section>
        <!--/Início seção saiba -->
        <div>
            <div class="row">
                <div class="col-12 d-flex">

                    <div>
                        <h3 class="paragraf b">• 18/09/2017 - 03/04/2018 – Locomotiva Industria e Comércio de Texteis Industriais LTDA.</h3>
                        <p class="paragraf">
                            Cargo: Jovem Aprendiz / Assistente Administrativo / PCP

                        </p>
                        <p class="paragraf">
                            Principais Atividades: Andar pela Produção mapeando os processos e os produtos acabados, preenchimento de planilhas de controle.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/FIM seção saiba -->
</mat-card>