<div class="container" *ngIf="novoComentario">
    <form [formGroup]="alunoForm" (submit)="submit()">

        <div class="row mb-5">
            <div class="col-lg-6 form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" formControlName="first_name" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Digite seu nome">
                <app-msg-erro mensagem="O nome é obrigatório!" *ngIf="alunoForm.get('first_name').errors?.required && 
            (alunoForm.get('first_name').touched)">
        </app-msg-erro>
            </div>

            <div class="col-lg-6 form-group">
                <label for="exampleInputEmail">Endereço de e-mail:</label>
                <input type="text" class="form-control" id="exampleInputEmail" formControlName="email" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="seu@email.com">
            </div>
            <div class="col-lg-12 form-group mt-2">
                <label for="comentario">Comentário:</label>
                <textarea (keyup)="verificarForm()" cols="30" rows="5" class="form-control" id="comentario" formControlName="comments" aria-label="Default" aria-describedby="inputGroup-sizing-default" maxlength="1000" placeholder="Digite seu comentário"></textarea>
                <input value="{{cont}}" style="background-color: transparent; width: 30px; border: none;float: right;" disabled>
                <app-msg-erro mensagem="O comentário é obrigatório!" *ngIf="alunoForm.get('comments').errors?.required && 
                (alunoForm.get('comments').touched)"></app-msg-erro>
            </div>

        </div>

        <div class="form-group buttons text-center" >
            <button class="btn btn-success" type="submit" *ngIf="botaoComentar">Comentar</button>
        </div>





    </form>
</div>
<div>
    <div class="container buttons text-center">

        <button type="button" class="btn btn-success" (click)="newComentario(true)" *ngIf="esconderBotao">Novo comentário</button></div>
</div>

<form [formGroup]="alunoForm">

    <mat-card class="caixa mt-3" *ngFor="let aluno of ListaAlunos">
        <section>
            <!--/Início seção saiba -->
            <div>
                <div class="row">
                    <div class="col-12 d-flex">

                        <div>
                            <h3 class="paragraf b">Autor: {{aluno.first_name}}</h3>
                            <p class="paragraf">
                                Data do comentário: {{aluno.created_at | date : 'dd-MM-yyyy - HH:mm'}}
                            </p>
                            <hr>
                            <p class="paragraf">
                                {{aluno.comments}}
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--/FIM seção saiba -->
    </mat-card>