<mat-card class="caixa">
    <section ><!--/Início seção saiba -->
        <div >
          <div class="row">
            <div class="col-12 d-flex">
                
                <div >
                    <h3 class="paragraf b">Artigo - INTEGRAÇÃO DA INTERNET OF THINGS NA GESTÃO DE SERVIÇOS: CONCEPÇÃO DE UM DISPOSITIVO DE MONITORAMENTO DE IDOSOS.</h3>
                    <p class="paragraf"> 
                        DOI : 10.29327/9simep.332638            
                    </p>
                   <a mat-list-item class="btn btn-success">
                       <i class="material-icons icone">
                       file_download 
                    </i> 
                    Download
                    </a>
                   <a href="https://www.even3.com.br/anais/9simep/332638-integracao-da-internet-of-things-na-gestao-de-servicos--concepcao-de-um-dispositivo-de-monitoramento-de-idosos/" 
                   mat-list-item class="btn btn-primary botao">
                       <i class="material-icons icone ">
                        web_asset
                    </i> 
                    Site do Simpósio
                    </a>
                  </div>
            </div>
            
          </div>
        </div>
      </section><!--/FIM seção saiba -->
    </mat-card>

