<mat-card class="caixa">
    <section ><!--/Início seção saiba -->
        <div >
          <div class="row">
            <div class="col-12 d-flex">
                
                <div >
                    <h3 class="paragraf b">Artigo - INTEGRAÇÃO DA INTERNET OF THINGS NA GESTÃO DE SERVIÇOS: CONCEPÇÃO DE UM DISPOSITIVO DE MONITORAMENTO DE IDOSOS.</h3>
                    <p class="paragraf"> 
                        DOI : 10.29327/9simep.332638            
                    </p>
                   <a href="https://drive.google.com/file/d/12IevoKiwbvMEL9q33pNHBPtd0cdlVVUU/view?usp=sharing" mat-list-item class="btn btn-success botao ">
                       <i class="material-icons icone">
                       file_download 
                    </i> 
                    Download
                    </a>
                   <a href="https://drive.google.com/file/d/1vXXyYpZ9FfRdjGTxQGSVOHayLFLSXIuL/view?usp=sharing" mat-list-item class="btn btn-warning botao text-white">
                       <i class="material-icons icone text-white">
                        stars
                    </i> 
                    Certificado
                    </a>
                   <a href="https://www.even3.com.br/anais/9simep/332638-integracao-da-internet-of-things-na-gestao-de-servicos--concepcao-de-um-dispositivo-de-monitoramento-de-idosos/" 
                   mat-list-item class="btn btn-primary botao">
                       <i class="material-icons icone ">
                        web_asset
                    </i> 
                    Site do Simpósio
                    </a>
                  </div>
            </div>
            
          </div>
        </div>
      </section><!--/FIM seção saiba -->
    </mat-card>

<mat-card class="caixa mt-4">
    <section ><!--/Início seção saiba -->
        <div >
          <div class="row">
            <div class="col-12 d-flex">
                
                <div >
                    <h3 class="paragraf b">Artigo - RESPONSABILIDADE SOCIAL EM TEMPOS DE
                        COVID-19: DESENVOLVIMENTO DE UM
                        PROTÓTIPO VIRTUAL DE MONITORAMENTO DE
                        
                        IDOSOS EM QUARENTENA.</h3>
                   
                   <a href="https://drive.google.com/file/d/1UjrdLEqN4Opz6bydQToTshUe5EKN5uf8/view?usp=sharing" mat-list-item class="btn btn-success botao">
                       <i class="material-icons icone">
                       file_download 
                    </i> 
                    Download
                    </a>
                   <a href="https://drive.google.com/file/d/1pdjnqY6JWt5soPlQZXMLbs-GQBMxHYaZ/view?usp=sharing" mat-list-item class="btn btn-warning botao text-white ">
                       <i class="material-icons icone text-white">
                        stars
                    </i> 
                    Certificado
                    </a>
                   <a href="https://ocs.ufgd.edu.br/index.php?conference=sinep&schedConf=IIISINEP&page=paper&op=view&path%5B%5D=1319" 
                   mat-list-item class="btn btn-primary botao">
                       <i class="material-icons icone ">
                        web_asset
                    </i> 
                    Site do Simpósio
                    </a>
                  </div>
            </div>
            
          </div>
        </div>
      </section><!--/FIM seção saiba -->
    </mat-card>

<mat-card class="caixa mt-4">
    <section ><!--/Início seção saiba -->
        <div >
          <div class="row">
            <div class="col-12 d-flex">
                
                <div >
                    <h3 class="paragraf b">Certificado de Registro de Programa de Computador</h3>
                    <p>
                      Aplicativo Guia de Segurança do Paciente
                    </p>
    
                   <a href="https://drive.google.com/file/d/1sOhzJ1D_NOcT1D-4i5VZ7IL545LpP_z0/view?usp=sharing" mat-list-item class="btn btn-warning botao text-white">
                       <i class="material-icons icone text-white">
                        stars
                    </i> 
                    Certificado
                    </a>
                   
                  </div>
            </div>
            
          </div>
        </div>
      </section><!--/FIM seção saiba -->
    </mat-card>

<mat-card class="caixa mt-4">
    <section ><!--/Início seção saiba -->
        <div >
          <div class="row">
            <div class="col-12 d-flex">
                
                <div >
                    <h3 class="paragraf b">Certificado de Registro de Programa de Computador</h3>
                    <p>
                      Aplicativo Controle de Mudança de Decúbito <strong>*Novo</strong>
                    </p>
    
                   <!-- <a href="https://drive.google.com/file/d/1sOhzJ1D_NOcT1D-4i5VZ7IL545LpP_z0/view?usp=sharing" mat-list-item class="btn btn-warning botao text-white">
                       <i class="material-icons icone text-white">
                        stars
                    </i> 
                    Certificado
                    </a> -->
                   
                  </div>
            </div>
            
          </div>
        </div>
      </section><!--/FIM seção saiba -->
    </mat-card>

<mat-card class="caixa mt-4">
    <section ><!--/Início seção saiba -->
        <div >
          <div class="row">
            <div class="col-12 d-flex">
                
                <div >
                    <h3 class="paragraf b">Pedido nacional de Invenção, Modelo de Utilidade, Certificado de
                        Adição de Invenção e entrada na fase nacional do PCT</h3>
                    
    
                   <!-- <a href="https://drive.google.com/file/d/1sOhzJ1D_NOcT1D-4i5VZ7IL545LpP_z0/view?usp=sharing" mat-list-item class="btn btn-warning botao text-white">
                       <i class="material-icons icone text-white">
                        stars
                    </i> 
                    Certificado
                    </a> -->
                   <a href="https://drive.google.com/file/d/1_T7koAARqkZcd4ryhpWgQLHjV4LBiHk9/view?usp=sharing" mat-list-item class="btn btn-success botao ">
                       <i class="material-icons icone text-white">
                        upload_file
                    </i> 
                    Download
                    </a>
                  </div>
            </div>
            
          </div>
        </div>
      </section><!--/FIM seção saiba -->
    </mat-card>

