<mat-card class="caixa col-md-12">
    <!-- <section > -->
    <!--/Início seção saiba -->
    <div class="row">

        <div class="col-6 d-flex ajuste ">
            <div>
                <img src="../../../assets/images/guia_seguranca.jpg" class="img-fluid">
                <h3 class="paragraf b">Aplicativo Guia de Segurança do Paciente</h3>
                <a href="https://play.google.com/store/apps/details?id=com.br.nucleo.guia_de_seguranca_do_paciente" mat-list-item class="btn btn-primary botao ">
                    <i class="material-icons icone text-white">
                         android
                     </i> PlayStore
                </a>

            </div>
            <div class="col-6  d-flex ajuste">
                <div>
                    <img src="../../../assets/images/decubito.jpg" class="img-fluid">
                    <h3 class="paragraf b">Aplicativo Controle de Mudança de Decúbito</h3>
                    <a href="https://play.google.com/store/apps/details?id=com.nucleotech.mudanca_decubito" mat-list-item class="btn btn-primary botao ">
                        <i class="material-icons icone text-white">
                         android
                     </i> PlayStore
                    </a>
                </div>
            </div>

        </div>


    </div>




    <!-- </section> -->
    <!--/FIM seção saiba -->
</mat-card>
<mat-card class="caixa col-md-12 mt-2">
    <!-- <section > -->
    <!--/Início seção saiba -->
    <div class="row">

        <div class="col-3 d-flex ajuste ">
            <div>
                <img src="../../../assets/images/logo_5w2h.png" class="img-fluid">
                <h3 class="paragraf b">Aplicativo 5W2H</h3>
                <a href="https://play.google.com/store/apps/details?id=com.nucleotech.plan5w2h" mat-list-item class="btn btn-primary botao ">
                    <i class="material-icons icone text-white">
                         android
                     </i> PlayStore
                </a>

            </div>
            <!-- <div class="col-6  d-flex ajuste">
                <div>
                    <img src="../../../assets/images/decubito.jpg" class="img-fluid">
                    <h3 class="paragraf b">Aplicativo Controle de Mudança de Decúbito</h3>
                    <a href="https://play.google.com/store/apps/details?id=com.nucleotech.mudanca_decubito" mat-list-item class="btn btn-primary botao ">
                        <i class="material-icons icone text-white">
                         android
                     </i> PlayStore
                    </a>
                </div>
            </div> -->

        </div>


    </div>




    <!-- </section> -->
    <!--/FIM seção saiba -->
</mat-card>