<mat-sidenav-container class="fundomenu mat-elevation-z5">
    <mat-sidenav class="sidenav" mode="side" 
    opened fixedInViewport="true" 
    fixedTopGap="64" fixedBottomGap="64">
      <mat-nav-list class="nav-list">  

         <a mat-list-item class="hov">
            <i class="material-icons">
               home
            </i>
            Inicio
         </a>
         <a mat-list-item class="hov"> 
            <i class="material-icons">
               home
            </i>
            Certificados
         </a>
         <a mat-list-item class="hov">
            <i class="material-icons">
               home
            </i>
            Aplicações Mobiles
         </a>
         <a mat-list-item class="hov">
            <i class="material-icons">
               home
            </i>
            Aplicações Web
         </a>

        
        <!-- <ul>
           <a href="" class=" "><li class="btn1"><mat-icon aria-hidden="false" aria-label="Example home icon" class="aa">home</mat-icon>Inicio</li></a>
        </ul>
        <ul>
           <a href="" class=" "><li class="btn1">Certificados</li> </a>
        </ul>
        <ul>
           <a href="" class=" "><li class="btn1">Aplicações Mobiles</li> </a>
        </ul>
        <ul>
           <a href="" class=" "><li class="btn1">Aplicações Web</li> </a>
        </ul> -->
    
      </mat-nav-list>
    </mat-sidenav>
    
</mat-sidenav-container>
