<mat-sidenav-container class="fundomenu mat-elevation-z5">
    <mat-sidenav class="sidenav " mode="side" 
    opened fixedInViewport="true" 
      >
      <mat-nav-list class="nav-list">  

         <a mat-list-item class="hov" routerLink="/">
            <i class="material-icons">
               home
            </i>
            Início
            
         </a>
         <a mat-list-item class="hov" routerLink="/experiencias"> 
            <i class="material-icons">
               work
            </i> 
            Experiências
         </a>
         <a mat-list-item class="hov" routerLink="/certificados"> 
            <i class="material-icons">
               check_circle
            </i> 
            Certificados
         </a>
         <a mat-list-item class="hov" routerLink="/aplicacoes/mobiles">
            <i class="material-icons">
               android
            </i>
            Aplicações Mobiles
         </a>
         <a mat-list-item class="hov" routerLink="/aplicacoes/web">
            <i class="material-icons">
               public
            </i>
            Aplicações Web
         </a>

        
       
    
      </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content class="content container">

   <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>


